.viewMenu {
  height: 100%;
  :global {
    .ant-tree-node-content-wrapper {
      display: inline-block;
      width: calc(100% - 48px);
    }
    .ant-tree{
      height: calc(100% - 38px);
    }
    .ant-tree-list{
      height: 100%;
      overflow: auto;
    }
  }
  .leftTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 28px;
    padding: 0 10px;
    color: rgb(138, 138, 138);
    line-height: 28px;
    background-color: #f4f4f4;
  }
  .titleIcon {
    color: #0070cc;
    cursor: pointer;
  }
  .title {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .icon {
    display: 'inline-block';
    width: 21;
    height: '24px';
    line-height: '24px';
    text-align: 'center';
  }
}

.modal {
  :global {
    .ant-tabs {
      overflow: inherit;
    }
    .ant-modal-body {
      padding: 0;
    }
    .ant-tabs-nav-list {
      margin-left: 24px;
    }
    .ant-tabs-content-holder {
      padding: 0 24px 24px 24px;
    }
  }
}
.inputColor {
  :global {
    .ant-form-item-control-input-content > span {
      width: 100%;
      height: 32px;
    }
  }
}
